{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="La calculadora de presupuesto de SOLATOM" >
    <link rel="stylesheet" href={% static 'presupuesto/reset.css' %}>
    <link rel="stylesheet" href={% static 'presupuesto/style.css' %}>

    <title>Presupuesto y coeficientes</title>
</head>

<body>
    <header>
        <img id="logo" src="{% static "presupuesto/media/solatom.jpg" %}" />
        <h1>Presupuestos y coeficientes</h1>
    </header>
    <main>
        <h3>Formulario para introducir valores de la oferta y obtener el presupuesto</h3><br>
    
    <form action="{% url "presupuesto:results" %}" method="post">
        {% csrf_token %}
        <label for="oferta">Tu oferta a presupuestar: </label><br><br>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        <img id="aviso" src="{% static "presupuesto/media/aviso.png" %}" />
        {% endif %}
        <table>
        {{ form }}
        <table>
        <input type="submit" value="Crear presupuesto"> 
    </form>
    {% if a %}
    <p><strong>{{ a }}</strong></p>{% endif %}
</body>

</html>